<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    
  </head>

  <body>
    <main>
      <header>
        
        <app-barra-sup></app-barra-sup>

        <app-nav></app-nav>
        
      </header>

      <div class="container bg-white"> <!--Contenedor-->
        
        <app-present-banner></app-present-banner>

        <div>
          
          <app-info-personal></app-info-personal>
          
          <app-exp></app-exp>

          <app-formacion></app-formacion>

          <app-habilidades></app-habilidades>

        </div>
        
      </div>

      <app-proyectos></app-proyectos>

    </main>

  </body>

</html>