<div class="row"> <!--información personales-->
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsePerson"
      aria-expanded="false"
      aria-controls="collapsePerson"
    >
      Acerca de mí
    </button>

    <div class="collapse" id="collapsePerson">
      <div class="card card-body">
        <div class="row align-items-end">
          <div class="col-xl-4 text-center">
            <img src="../../../assets/samira.jpg">
          </div>
          <div class="col-sm-7 text-center">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Perferendis vel ex ratione iure pariatur sequi ad neque, animi officia, alias minus? 
              Praesentium deleniti possimus blanditiis pariatur assumenda, provident eligendi. Eaque!
            </div>
        </div>
      </div>
    </div>
  </div>