<div class="row"> <!--Formación-->
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseEdu"
      aria-expanded="false"
      aria-controls="collapseEdu"
    >
      Formación
    </button>

    <div class="collapse" id="collapseEdu"> <!--Secundario-->
      <div class="card card-body">
        <div class="row text-center"> 
          <div class="col">
            <b>Secundaria</b>
            <p><i>Oscar Smith</i> (2016 - 2019)</p>
          </div>

          <div class="col">
            <b>Titulo</b>
            <p>Bachillerato en Ciencias Sociales</p>
          </div>
        </div>

        <br />

        <div> <!--Cursos complementarios-->
          <h6 class="text-center">Cursos Complementarios</h6>

          <table class="table">
            <thead class="thead bg-dark">
              <tr class="text-white">
                <th scope="col">#</th>
                <th scope="col">Curso</th>
                <th scope="col">Llevado a cabo en</th>
                <th scope="col">Con carga horaria de</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><p>Diseño grafico nivel I y II</p></td>
                <td><p>CFP N°406 | Isabel Pallamay</p></td>
                <td><p>150</p></td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td><p>Tecnicas de Programación</p></td>
                <td><p>CFP N°8 | SMATA</p></td>
                <td><p>120</p></td>
              </tr>

              <tr>
                <th scope="row">3</th>
                <td><p>Programación Orientada a objetos</p></td>
                <td><p>CFP N°8 | SMATA</p></td>
                <td><p>150</p></td>
              </tr>

              <tr>
                <th scope="row">4</th>
                <td><p>Base de datos</p></td>
                <td><p>CFP N°8 | SMATA</p></td>
                <td><p>70</p></td>
              </tr>

              <tr>
                <th scope="row">5</th>
                <td><p>Aplicación Web</p></td>
                <td><p>CFP N°8 | SMATA</p></td>
                <td><p>60</p></td>
              </tr>

              <tr>
                <th scope="row">6</th>
                <td><p>Interface Grafica Web</p></td>
                <td><p>CFP N°8 | SMATA</p></td>
                <td>60</td>
              </tr>

              <tr>
                <th scope="row">7</th>
                <td><p>Gestion de Base de datos</p></td>
                <td><p>CFP N°8 | SMATA</p></td>
                <td>60</td>
              </tr>

              <tr>
                <th scope="row">8</th>
                <td><p>Tecnología Salesforce</p></td>
                <td>GLOBANT</td>
                <td><p>150</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <app-carousel-certificate></app-carousel-certificate>
    </div>
</div>