<div class="row"> <!--experiencia-->
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExpe"
      aria-expanded="false"
      aria-controls="collapseExpe"
    >
      Experiencia
    </button>

    <div class="collapse" id="collapseExpe">
      <div class="card card-body">
        <table class="table">
          <thead class="thead bg-dark">
            <tr class="text-white">
              <th scope="col">#</th>
              <th scope="col">Trabajo</th>
              <th scope="col">Puesto</th>
              <th scope="col">Cargo</th>
              <th scope="col">Herramientas</th>
              <th scope="col">Referencia</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><p>.</p></td>
              <td><p>.</p></td>
              <td><p>.</p></td>
              <td><p>.</p></td>
              <td><p>.</p></td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td><p>.</p></td>
              <td><p>.</p></td>
              <td><p>.</p></td>
              <td><p>.</p></td>
              <td><p>.</p></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>