#barraSuperior{
    background-color: rgba(27, 59, 164, 0.56);
    height: 60px;
}

#logo{
    width: 150px;
    margin-top: -15px;
    position: absolute;
}

#icon-redes{
    margin: 10px;
    float: right;
    width: 25px;
    margin-top: 20px;
}
 
#icon-acces{
    margin: 15px;
    float: right;
    width: 30px;
    margin-top: 19px;
}