<div id="barraSuperior" class="container-fluid"> <!--Iconos-->
    <div class="row">
      <div class="col">
        <img id="logo" src="../assets/ArgentinaPrograma.png" />
      </div>
      <div class="col">
        <img id="icon-acces" src="../assets/person-fill.svg" />
        <img id="icon-redes" src="../assets/instagram.svg" />
        <img id="icon-redes" src="../assets/twitter.svg" />
        <img id="icon-redes" src="../assets/linkedin.svg" />
        <img id="icon-redes" src="../assets/github.svg" />
      </div>
    </div>
</div>