<div> <!--Banner, foto de perfil, nombre y localidad-->
    <img class="figure-img img-fluid" src="../assets/banner.jpg" />

    <div>
      <img
        id="perfil"
        src="../assets/person-fill.svg"
        class="rounded-circle"
      />
    </div>

    <div>
      <div class="col-sm-4">
        <h2 id="cargo">Lucas Ramirez</h2>
        <p>
          Programador Web Full Stack Junior
          <br />
          <small class="text-muted">
            Buenos Aires, Provincia de Buenos Aires, Argentina
          </small>
        </p>
      </div>
    </div>
</div>