<div class="row"> <!--Habilidades-->
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseSkills"
      aria-expanded="false"
      aria-controls="collapseSkills"
    >
      Habilidades duras y blandas
    </button>

    <div class="collapse" id="collapseSkills">
      <div class="card card-body">
        <div class="row">
          <div class="col">
            <b>Habilidades Duras</b><br /><br />
            <div></div>
          </div>

          <div class="col">
            <b>Habilidades Blandas</b><br /><br />
            <div>
              <b>Liderazgo</b>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> 